<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/common.css">
        <title>postmodernist1848 personal website</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="/static/index.js"></script>
    </head>
    <body>
        <div id="page">
            <div id="navbar">
                <div id="navbar-links">
                    <a href="/links">postmodernist1848</a>
                    <a href="/">int main(void);</a>
                    <a href="/articles">std:string articles();</a>
                    <a href="/funi">fn funi(a: i32) -> i32 {56 | 78}</a>
                    <a href="/game">game</a>
                    <a href="/chat">chat</a>
                </div>
                <fieldset>
                    <legend >Funi stuff</legend>
                    <div class="checkbox-with-text">
                        <label>
                            <input type="checkbox" id="rainbow-toggle"/>rainbow</label>
                    </div>
                </fieldset>
            </div>
            <div id="contents">
                {{.contents}}
            </div>
        </div>
        <footer>
            Copyright <a href="/links">postmodernist1848</a>
        </footer>
    </body>
</html>

