<div id="paste">
    {{.contents}}
</div>
<script>
    const h5s = document.getElementsByTagName('h5');

    let currentH5 = h5s[0];
    let currentNode = currentH5.nextSibling;
    let divWrapper = document.createElement('div');

    while (currentNode !== null) {
        const nextNode = currentNode.nextSibling;

        if (currentNode.tagName === "H5") {
            currentH5.insertAdjacentElement('afterend', divWrapper);
            currentH5 = currentNode;
            divWrapper = document.createElement('div');
        } else {
            divWrapper.appendChild(currentNode);
        }
        currentNode = nextNode;
    }
    currentH5.insertAdjacentElement('afterend', divWrapper);

    for (let i = 0; i < h5s.length; i++) {
        // show the last one
        h5s[i].nextElementSibling.classList.add('notes');
        if (i != h5s.length - 1) {
            h5s[i].nextElementSibling.classList.add('hidden');
        }
        h5s[i].addEventListener("click", function() {
            var content = this.nextElementSibling;
            content.classList.toggle('hidden');
        });
    }
    h5s[h5s.length - 1].scrollIntoView();
</script>
<div id="hint">HINT: You can tap the dates to show/hide notes.</div>
