<!DOCTYPE html>
<html>
<head>
    <title>postmodernist1848 personal website</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="/static/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {{.head}}
</head>
<body>
<div id="page">
    <div id="navbar-links">
        <a class="navbar-link" href="/">int main(void);</a>
        <a class="navbar-link" href="/about">postmodernist1848</a>
        <a class="navbar-link" href="/articles/">std::string articles();</a>
        <a class="navbar-link" href="/fun">fn fun() -> i32 {56 | 78}</a>
        <a class="navbar-link" href="/game">func game() error {}</a>
        <a class="navbar-link" href="/chat">chat</a>
    </div>
    <div id="contents">
        {{.contents}}
    </div>
    <footer>
        Copyright <a href="/about">postmodernist1848</a>
    </footer>
</div>
</body>
</html>

