<style>
    #paste p {
        font-size: unset;
    }

    #paste h5, h6 {
        margin-bottom: 0.5rem;
    }

    #paste h6 {
        margin-top: 1rem;
    }

    #paste h5 {
        margin-top: 1rem;
        cursor: pointer;
        background-color: #222;
    }

    #paste h5:hover {
        background-color: #444;
    }

    #paste div.hidden {
        display: none;
    }

    #paste div.note {
        margin-bottom: 2rem;
    }

    #hint {
        color: gray;
        font-size: 0.5rem;
        margin-top: 0.5rem;
        padding: 1em;
        border-radius: 10px;
        border: dashed gray;
    }
</style>
<div id="paste">
    {{range .}}<h5>{{.Date}}</h5>
    <div class="note">{{.HTML}}</div>
    {{end}}
</div>
<script>
    const h5s = document.getElementsByTagName("h5");

    for (let i = 0; i < h5s.length; i++) {
        h5s[i].nextElementSibling.classList.add("notes");
        if (i !== h5s.length - 1) {
            // show the last one
            h5s[i].nextElementSibling.classList.add("hidden");
        }
        h5s[i].addEventListener("click", function () {
            const content = this.nextElementSibling;
            content.classList.toggle("hidden");
        });
    }
    h5s[h5s.length - 1].scrollIntoView();
</script>
<h1>Go to my Telegram channel for live updates: <a href="https://t.me/startup78">Startup78</a></h1>
<div id="hint">HINT: You can tap the dates to show/hide notes.</div>
