/* common */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600&display=swap');
body {
    background-color: #181818;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

article {
    width: min(99vw, 1000px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

code {
    background-color: #343942;
    padding: 4px;
    border-radius: 10px;
}

pre > code {
    padding: 0;
}

fieldset {
    opacity: 80%;
}

#navbar-links {
    width: 100lvw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1%;
}

img {
    max-width: 100vw;
    max-height: 100vh;
}

#navbar-links a:hover {
    opacity: 100%;
}

#navbar-links a {
    transition: opacity 0.3s ease-out;
    opacity: 50%;
    border-bottom: 1px solid white;
    text-decoration: none;
}

* {
    font-family: "Poppins", sans-serif;
    font-size: 20pt;
    color: white;
}

footer {
    text-align: right;
    padding-right: 1em;
}

@media screen and (max-width: 750px) {

    * {
        font-size: 15pt;
    }

    #navbar-links {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: stretch;
    }

    .navbar-link {
        text-align: center;
    }
}

button {
    background-color: #181818;
    color: white;
    font-weight: 300;
}

select {
    color: #181818;
}

.hljs-keyword {
    color: black;
}

textarea, input {
    accent-color: black;
    color: #181818;
    background: lightgray;
}

.clamped-width {
    width: 100vw;
    max-width: 1000px;
}
